# clock
CONFIG_SC_CAMCC_7180=m
CONFIG_SC_DISPCC_7180=m
CONFIG_SC_GPUCC_7180=m
CONFIG_SC_LPASS_CORECC_7180=m
CONFIG_SC_VIDEOCC_7180=m

# network
CONFIG_RT2400PCI=m
CONFIG_RT2500PCI=m
CONFIG_RT2500USB=m
CONFIG_RT2800PCI=m
CONFIG_RT2800USB=m
CONFIG_RT2X00=m
CONFIG_RT61PCI=m
CONFIG_RT73USB=m
CONFIG_RTL8187=m
CONFIG_RTL8723BS=m

# tpm
CONFIG_TCG_TIS=m
CONFIG_TCG_TIS_I2C=m
CONFIG_TCG_TIS_I2C_CR50=m
CONFIG_TCG_TIS_SPI=m

# usb
CONFIG_CHARGER_CROS_USBPD=m

# power
CONFIG_EC_ACER_ASPIRE1=m

# graphics
CONFIG_BACKLIGHT_PWM=y
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=m
CONFIG_DRM_PANEL_INNOLUX_P079ZCA=m
CONFIG_DRM_PANEL_KINGDISPLAY_KD097D04=m
CONFIG_DRM_PANEL_VISIONOX_RM69299=m
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_GPIO=y

# input
CONFIG_IIO_ST_ACCEL_3AXIS=m
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=m
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=m
CONFIG_INPUT_REGULATOR_HAPTIC=m
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_REGULATOR=y
CONFIG_RMI4_CORE=m
CONFIG_RMI4_F34=y
CONFIG_RMI4_F55=y
CONFIG_RMI4_I2C=m
CONFIG_RMI4_SMB=m
CONFIG_RMI4_SPI=m
CONFIG_STK3310=m
CONFIG_TOUCHSCREEN_ZINITIX=m
CONFIG_HID_GOOGLE_HAMMER=m
CONFIG_HID_VIVALDI=m
CONFIG_I2C_HID_OF_GOODIX=m

# localversion
# CONFIG_LOCALVERSION_AUTO is not set

# virtio
CONFIG_CRYPTO_DEV_VIRTIO=m
CONFIG_DRM_VIRTIO_GPU=m
CONFIG_HW_RANDOM_VIRTIO=m
CONFIG_I2C_VIRTIO=m
CONFIG_NET_9P=m
CONFIG_NET_9P_VIRTIO=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_SCSI_VIRTIO=y
CONFIG_SND_VIRTIO=m
CONFIG_VIRTIO_BALLOON=m
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_FS=m
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_IOMMU=m

# uefi
CONFIG_FB_EFI=y

# misc
CONFIG_EXYNOS_IOMMU=y
